@font-face {
    font-family: 'google';
    src: url('GoogleSansText-Regular.ttf');
}
*{
    font-family: google;
    transition: all 0.4s linear;
}

.bg-main {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
